:root {
    --PriColor:  #282A35;
     --SecColor:  #04aa6d;
  }



*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

::selection{
    background-color:  var(--SecColor);
    color: white;
}


/* Back To Top Button  */

#BackToTop{
    position: fixed;
    
    bottom: 10px;
    right:-300px;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    z-index: 1000;
    background-color: #282A35;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--SecColor);
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    font-size: 36px;
}

.showBTT{

    right:20px !important;

    transition: 2s ease-in-out;
}


.hideBTT{
    right:-300px!important;
    transition: 2s ease-in-out;
}


/* Back To Top Button */



/*//////////////////ScrollBar Customization*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  var(--SecColor);
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/*//////////////////ScrollBar Customization*/


/* //////////// navbar styling*/
.nav-item{
    margin-right: 30px;
    font-size: 22px;
}

.navbar {
    background-color: transparent;
}

  .navbar-nav .nav-link , .navbar-light .navbar-nav .nav-link.active{
    color: rgb(255, 255, 255);
    transition: ease-in-out .2s;
}

 .navbar-nav .nav-link:hover , .navbar-light .navbar-nav .nav-link.active:hover {
    background-color:  var(--SecColor);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: ease-in-out .2s;
}


 .navbar-brand{
    color: var(--SecColor);
    font-size: 28px;
    transition: ease-in-out .2s;
}

 .navbar-brand:hover{
    color: var(--SecColor);
    font-size: 28px;
    transform: scale(1.1);
    transition: ease-in-out .2s;
}
.fa-align-justify:before {
    font-size: 30px;
    color: var(--SecColor);
}

.navbar-toggler{
    border-color: white;
}

.login-btn{
    color: rgb(255, 255, 255);
    transition: ease-in-out .2s;
    text-decoration: none;
    font-size: 22px;
    width: 100%;
    margin-left: 30px;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
}

a:hover.login-btn{
    background-color: var(--SecColor);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: ease-in-out .2s;
    
}

@media screen and (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}
}

@media screen and (max-width: 992px) {
    .navbar-collapse{
        background-color: var(--PriColor);
    }
    }

.navbar-nav .dropdown-menu {
    background-color: var(--PriColor) }
 
 .dropdown-item {
     color: white;
     text-align: center;
     font-size: 22px;
 }

 header[data-back="umit"]{
    background-image: url('../images/umit.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 header[data-back="voip"]{
    background-image: url('../images/voip.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 header[data-back="nlab"]{
    background-image: url('../images/nlab.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 header[data-back="asmbly"]{
    background-image: url('../images/asmbly.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 header[data-back="arc"]{
    background-image: url('../images/arc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 header[data-back="projects"]{
    background-image: url('../images/bach-mas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 header[data-back="publications"]{
    background-image: url('../images/publications.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 #NavBar{
position: fixed;
top: 0px;
z-index: 10001;
width: 100%;
 }

 /* Used in Jquery Animation */
 .AnimateBlack{
     background-color: var(--PriColor);
         transition: ease-in-out 1s;
 }

 .AnimateTrans{
    background-color: transparent;
   transition: ease-in-out 1s;
}

/* //////////// navbar styling*/


/* //////////// footer*/

footer{
    background-color: var(--PriColor);
    padding-bottom: 20px;
    font-size: 22px;
}

/* //////////// footer*/

/* //////////// brief section*/

.brief-sec{

    height: 550px;
    
}

.brief-sec p{
    color: white;
    font-size: 85px;
    filter: drop-shadow(16px 16px 20px rgb(0, 0, 0));
    text-align: center;
}

.brief-sec p span{
    color: white;
    font-size: 25px;
    background-color:  var(--SecColor);
    padding: 8px;
    filter: drop-shadow(8px 8px 8px rgb(0, 0, 0));
}

@media screen and (max-width: 992px) {
    .brief-sec p{
        font-size: 55px;    }

        .brief-sec {
            height: 350px; 
        } 

        .brief-sec p span{
            font-size: 12px;
        }
}

/* //////////// brief section*/

